<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PersonMapper">

<select id="getPagePerson" resultType="com.example.demo.entity.PersonInfoEntity">
    SELECT *
    FROM person_info s
    WHERE 1 = 1
    <if test="integerList != null and integerList.size() > 0">
        AND s.id IN
        <foreach item="itemId" collection="integerList" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </if>
    <if test="name != null and name != ''">
        AND s.name = #{name}
    </if>
    <if test="gender != null and gender != ''">
        AND s.gender = #{gender}
    </if>
    <if test="ethnicity != null and ethnicity != ''">
        AND s.ethnicity = #{ethnicity}
    </if>
    <if test="isStaff != null  and ethnicity != ''">
        AND s.is_staff = #{isStaff}
    </if>


</select>



</mapper>
